<header>
  <div class="topBar">
    <h2 id="myName">Alex Bannon</h2>
  </div>
</header>
<main>
  <div class="menuOptions">
    <div id="portfolioLink">
      <span>Portfolio</span>
      <div class="selector1"></div>
    </div>
    <div id="aboutLink">
      <span>About</span>
      <div class="selector2"></div>
    </div>
  </div>
  <div class="mainContainer">
    <div id="pieceOne"></div>
    <div id="pieceTwo"></div>
    <div id="pieceThree"></div>
    <div id="pieceFour"></div>
  </div>
  <div class="aboutContainer">
    <div class="aboutIntro">I'm a full stack web developer in the Washington, DC area. Prior to joining General Assembly in the summer of 2015, I worked in policy, part upkeeping databases, part writing policy briefs. I'm team-oriented but individually motivated. I consistently seek out new problems, languages, frameworks, you name it.</div>
    <div class="contactInfo">To reach out to me directly, feel free to click one of the following links!</div>
    <div class="links">
      <a class = "linkedIn" href="http://www.linkedin.com/in/alexbannon">
        <img src="/linkedin.png">
      </a>
      <a class="twitter" href="http://www.twitter.com/alexbannon">
        <img src="/twitter.png">
      </a>
      <a class="email" href="mailto:alexbannon@gmail.com">
        <img src="/email.png">
      </a>
      <a class="github" href="http://www.github.com/alexbannon">
        <img src="/github.png">
      </a>
    </div>
  </div>
</main>
<footer>
  <div class="bottomBar">
    <div class="bottomInfo">
      <div class="bottomName">Alex Bannon</div>
      <div class="bottomPhone">301-919-4523</div>
      <div class="bottomEmail">AlexBannon@gmail.com</div>
    </div>
  </div>
</footer>
