<header>
  <div class="topBar">
    <h2 id="myName">Alex Bannon</h2>
  </div>
  <div class="menuOptions">
    <div id="portfolioLink">
      <span>Portfolio</span>
      <div class="selector1"></div>
    </div>
    <div id="aboutLink">
      <span>About</span>
      <div class="selector2"></div>
    </div>
  </div>
  <div class="mainContainer">
    <!-- <div id="pieceOne"></div>
    <div id="pieceTwo"></div>
    <div id="pieceThree"></div>
    <div id="pieceFour"></div> -->
  </div>
</header>
