<header>
  <div class="topBar">
    <h2 id="myName">Alex Bannon</h2>
  </div>
</header>
<main>
  <div class="menuOptions">
    <div id="portfolioLink">
      <span>Portfolio</span>
      <div class="selector1"></div>
    </div>
    <div id="aboutLink">
      <span>About</span>
      <div class="selector2"></div>
    </div>
  </div>
  <div class="mainContainer">
    <!-- <div id="pieceOne"></div>
    <div id="pieceTwo"></div>
    <div id="pieceThree"></div>
    <div id="pieceFour"></div> -->
  </div>
  <div class="aboutContainer">
    <div class="aboutInfo">This is my about me page</div>
  </div>
</main>
<footer>
  <div class="bottomBar">
    <div class="bottomInfo">
      <div class="bottomName">Alex Bannon</div>
      <div class="bottomPhone">301-919-4523</div>
      <div class="bottomEmail">AlexBannon@gmail.com</div>
    </div>
  </div>
</footer>
