/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: grey;
  font-family: 'Flamenco', cursive;
  overflow: hidden;
}
#myName {
  text-align: center;
  margin: 0;
}

.topBar, .bottomBar {
  background-color: black;
  width: 100%;
  color: white;
}
.topBar {
  padding: 2em 0 2em 0;
}
.bottomBar {
  position: fixed;
  bottom: 0;
}
main {
  min-height: 15em;
}

.menuOptions > * {
  display: inline-block;
  position: relative;
  width: 49%;
  text-align: center;
  background: red;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  cursor: pointer;
  padding: 3px 0;

}

.selector1, .selector2 {
  content:"";
  position: absolute;
  right: 39%;
  top: 22px;
  width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 0px solid red;
}

.menuOptions {
  width: 15em;
  margin: 2em auto;
}

.portfolioImage {
  width: 100%;
  height: 100%;
}

.whichPortfolio {
  position: relative;
  display: inline-block;
  width: 15em;
  height: 15em;
}

.mainContainer {
  width: 60em;
  margin: 0 auto;
  padding: 0 0 50px 0;
  position: relative;
  overflow: hidden;
  left: 0;
  -webkit-transition: left 1s;
  transition: left 1s;
}
.aboutContainer {
  font-size: 1.5em;
  position: absolute;
  width: 85%;
  overflow: hidden;
  top: 200px;
  text-align: justify;
  left: 2000px;
  -webkit-transition: left 1s;
  -webkit-transform-style: preserve-3d;
  transition: left 1s;
}
.links {
  margin: 20px auto;
  width: 200px;
}
a > img, .email, .twitter, .linkedin {
  margin: 0 4px;
  width: 50px;
  height: 50px;
}
.contactInfo {
  margin: 1em auto 0 auto;
  text-align: center;
}

@media (max-width: 61em) {
  .mainContainer {
    width: 30.5em;
  }
}

@media (max-width: 35em) {
  * {
    cursor: pointer;
  }
  .mainContainer {
    width: 15em;
  }
  .selector1, .selector2 {
    display: none;
  }
  .menuOptions {
    width: 8em;
    margin: 1em auto 0.5em auto;
  }
  .menuOptions > * {
    margin: 3px auto;
    display: block;
    width: 7.5em;
  }

}
